.closed {
    color: aqua;
    cursor: pointer;
}

.opened {
    color: aqua;
    cursor: pointer;
    margin-bottom: 15px;
}

.opened:hover {
    color: aquamarine;
}

.closed:hover {
    color: aquamarine;
}